# Lab - Linear Regression with Gredient descent

In [92]:
import numpy as np
class LinearRegressionGD(object):
    def __init__(self, fit_intercept=True, copy_X=True,
            eta0=0.001, epochs=1000, weight_decay=0.9):
        self.fit_intercept = fit_intercept
        self.copy_X = copy_X
        self._eta0 = eta0
        self._epochs = epochs
        self._cost_history = []
        self._coef = None
        self._intercept = None
        self._new_X = None
        self._w_history = None
        self._weight_decay = weight_decay
    def cost(self, h, y):
        pass
    def hypothesis_function(self, X, theta):
        pass
    def gradient(self, X, y, theta):
        pass
    def fit(self, X, y):
# Write your code
        for epoch in range(self._epochs):
# 아래 코드를 반드시 활용할 것
            gradient = self.gradient(self._new_X, y, theta).flatten()
# Write your code
            if epoch % 100 == 0:
                self._w_history.append(theta)
                cost = self.cost(
                    self.hypothesis_function(self._new_X, theta), y)
                self._cost_history.append(cost)
            self._eta0 = self._eta0 * self._weight_decay
# Write your code
    def predict(self, X):
        pass
    @property
    def coef(self):
        return self._coef
    @property
    def intercept(self):
        return self._intercept    
    @property
    def weights_history(self):
        return np.array(self._w_history)
    @property
    def cost_history(self):
        return self._cost_history

In [93]:
import pandas as pd
import numpy as np

In [94]:
from sklearn import linear_model
import imp
imp.reload(linear_model)

In [ ]:
import linear_model
import imp
imp.reload(linear_model)

In [95]:
df = pd.read_csv("./train.csv")
df.head()

    x          y
0  24  21.549452
1  50  47.464463
2  15  17.218656
3  38  36.586398
4  87  87.288984

In [96]:
X = df["x"].values.reshape(-1,1)
y = df["y"].values

# model 생성

In [ ]:
lr = linear_model.LinearRegressionGD(eta0=0.0001, epochs=5000, weight_decay=1)

In [ ]:
lr.fit(X, y)

In [ ]:
lr.intercept # -0.12015404827836433
lr.coef # array([ 1.00077823])
lr.predict(X)[:10]

# Model Validation

In [ ]:
import matplotlib.pyplot as plt
plt.plot(lr.cost_history[1000:2000])
plt.show()

In [ ]:
from sklearn import linear_model
sk_lr = linear_model.LinearRegression(normalize=False)
sk_lr.fit(X, y)

In [ ]:
sk_lr.intercept_ # -0.1201555318131966
sk_lr.coef_ # array([ 1.00077825])

In [ ]:
np.isclose(lr.coef, sk_lr.coef_) #True
lr.predict(X_test)[:5]

In [74]:
df = pd.read_csv("./test.csv")
df.head()

    x          y
0  77  79.775152
1  21  23.177279
2  22  25.609262
3  20  17.857388
4  36  41.849864

In [75]:
X = df["x"].values.reshape(-1,1)
y = df["y"].values

In [ ]:
X_test = df["x"].values.reshape(-1,1)

In [ ]:
lr.predict(X_test)[:5]

In [ ]:
sk_lr.predict(X_test)[:5]

# plot

In [ ]:
import matplotlib.pyplot as plt
plt.plot(lr.cost_history[1000:2000])
plt.show()

# Multiple variable

In [78]:
df = pd.read_csv("./mlr09.csv")
df.head()

,height_in_feet,weight_in_pounds,successful_field_goals,percent_of_successful_free_throws,average_points_scored
0,6.8,225,0.442,0.672,9.2
1,6.3,180,0.435,0.797,11.7
2,6.4,190,0.456,0.761,15.8
3,6.2,180,0.416,0.651,8.6
4,6.9,205,0.449,0.900,23.2

In [79]:
y = df["average_points_scored"].values

In [80]:
X = df.iloc[:,:-1].values

In [81]:
X[:5]

array([[  6.8  , 225.   ,   0.442,   0.672],
       [  6.3  , 180.   ,   0.435,   0.797],
       [  6.4  , 190.   ,   0.456,   0.761],
       [  6.2  , 180.   ,   0.416,   0.651],
       [  6.9  , 205.   ,   0.449,   0.9  ]])

In [82]:
mu_X = np.mean(X, axis=0)
std_X = np.std(X, axis=0)

rescaled_X = (X - mu_X) / std_X

In [83]:
rescaled_X[:5]

array([[ 0.46843663,  0.50336336, -0.12692668, -0.70404955],
       [-0.63137111, -0.99746237, -0.25187012,  0.55584824],
       [-0.41140956, -0.66394554,  0.12296022,  0.19299768],
       [-0.85133266, -0.99746237, -0.59100234, -0.91571238],
       [ 0.68839818, -0.1636703 , -0.00198323,  1.59400403]])

In [ ]:
lr.fit(rescaled_X, y)

In [ ]:
lr.coef

In [ ]:
lr.intercept

In [ ]:
sk_lr.fit(rescaled_X, y)

In [ ]:
sk_lr.coef_

In [ ]:
sk_lr.intercept_